<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head th:insert="fragments/general.html :: headFragment">
</head>

<body>
<nav th:insert="fragments/general.html :: navBarFragment"></nav>

<h1>Add user</h1>
    <form method="POST" th:object="${user}">
        <label for="firstname">Enter user firstname: </label>
        <input type="text" id="firstname" th:field="*{firstName}" required><br/>

        <label for="lastname">Enter user lastname: </label>
        <input type="text" id="lastname" th:field="*{lastName}" required><br/>

        <label for="username">Enter user username: </label>
        <input type="text" id="username" th:field="*{userName}" required><br/>

        <label for="email">Enter user email: </label>
        <input type="text" id="email" th:field="*{email}" required><br/>

        <button>add user</button>
    </form>


<table >
    <thead class>
    <tr>
        <th>User Id</th>
        <th>User Firstname</th>
        <th>User Lastname</th>
        <th>User Email</th>
        <th>User Role</th>
        <th>User Created</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="person : ${personList}">
        <td th:text="${person.id}">User</td>
        <td th:text="${person.firstName}">User</td>
        <td th:text="${person.lastName}">User</td>
        <td th:text="${person.userName}">User
        <td th:text="${person.email}">User</td>
        <td th:text="${person.createdAt}">User</td>
    </tr>
    </tbody>
</table>



<script src="webjars/bootstrap/5.0.0-beta1/js/bootstrap.min.js"></script>
<script src="webjars/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>